#box div {
  background-color: red;
  padding: 20px;
  border: 10px solid blue;
  margin: 10px;
}

#box div {
  width: 100px;
  aspect-ratio: 4/3;
  border-radius: 50%;
  box-shadow: 10px 10px, 10px rgb(78, 12, 195);
}